.right-container{
    width: 15%;
    display: flex;
    flex-direction: column;
    margin: 6rem 8rem 2rem 1rem;
}
.last-post {
    height: 15rem;
    padding: 0;
    border-radius: 10px;
    background-color: #539b53af;
}
.last-post{
    color: honeydew;
    font-style: inherit;
}
.last-post li{
    list-style-type: none;
    margin: 10px 2rem 10px 0;
}
.most-views{
    height: 15rem;
    margin-top: 1rem;
    padding: 0;
    border-radius: 10px;
    background-color: #53699baf;
}
.most-views h2{
    color: honeydew;
    font-style: inherit;
}
.most-views li{
    list-style-type: none;
    margin: 10px 2rem 10px 0;
}