.navbar {
    margin-left: 0;
    padding: 0px;
    width: 100%;
    height: 4rem;
    background-color: white;
    box-shadow: 2px 0px 10px #6d6d8d;
    text-align: left
}

.logo-nav{
        width: 6rem;
        padding: 10px ;
}