.search-position {
    display: block;
    position:fixed;
    align-items: center;
    left: 300px;


}

.input-search {
    background-color: transparent;
    border: 0.5px inset whitesmoke;
    height: 40px;
    width: 100%;
    padding: 15px;
    margin-top: 1.9rem;
    font-size: 1em;
    font-weight: lighter;
    color: #424242;
    border-radius: 0.25rem;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.input-search+.search:before {
    content: '';
    width: 0px;
    display: block;
    position: absolute;
    right: -2px;
    bottom: 19px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-delay: 0s; 
      transition-delay: 0s;
  }
@media all and (max-width:800px){
    .search-position{
        visibility: hidden;
    }
}